{% extends "base.html" %}

{% block content %}
<form action="/newpost" method="post">
    <table>
        <tr>
            <td>
                <label for="title">Title: </label>
            </td>
            <td>
                <input name="title" type="text" requred>
            </td>
        </tr>
        <tr>
            <td>
                <label for="body">New Post: </label>
            </td>
            <td>
                <textarea name="body" required></textarea>
            </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
              <input type="submit" class="btn btn-default" value="Submit">                    
          </td>
        </tr>
    </table>
</form>
{% endblock %}
