<div>
    <a href="/blog">Home</a>
    <a href="/newpost">Add A New Blog Post</a>
</div>

<form action="/newpost" method="post">
    <table>
        <tr>
            <td>
                <label for="title">Title: </label>                    
            </td>
            <td>
                <input name="title" type="text" requred>        
            </td>
        </tr>
        <tr>
            <td>
                <label for="body">New Post: </label>
            </td>
            <td>
                <textarea name="body" required></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit">                    
            </td>
        </tr>
    </table>
</form>